<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>
		img {
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		}
		</style>
  </head>
  <body>
  	<img src="https://i.imgur.com/cgVGoNw.gif" alt="Coming Soon!" width="500" height="800">
  </body>
</html>